@charset "UTF-8";
/* CSS Document */
body {background-color: #F8F6F0; font-family: 'Roboto', sans-serif;}
.navbar {background-color: #c42227}
.navbar-nav .nav-item:hover .nav-link {color: #F8F6F0;}
.my-custom-button {background-color: #c42227;border: none}
.my-custom-button1 {background-color: #c42227;border: none}
.btn:hover img {transform: scale(1.1);transition: transform 0.3s ease;}
footer {background-color: #c42227}
